// ****************************************************************************************************
// general
// ****************************************************************************************************

// Core variables and mixins
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/bootstrap";

// ****************************************************************************************************
// w11k-slides config
// ****************************************************************************************************

@import "w11k-select/dist/w11k-select";

$fa-font-path: "assets/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

pre.prettyprint {
  font-size: 0.7em;
}

// ****************************************************************************************************
// custom
// ****************************************************************************************************

code {
  background-color: #EAEAEA;
}

